<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuLu-Verse_about</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Luckiest+Guy&family=Permanent+Marker&family=Satisfy&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7742c88b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/about.css">
    <script src="../static/js/rain.js" defer></script>
</head>

<body>
    <header>
        <div class="header-content">
            <h1>GuLu Verse</h1>
            <p class="header-content2">Where Dreams Flutter and Souls Whisper</p>
        </div>
    </header>
    <main class="glass-window">
        <section class="intro">
            <h2>About gulu-verse</h2>
            <p>Historically, we relied on our five senses to perceive and understand the world around us. But in gulu-verse, we offer a sixth sense - a sense of wonder.</p>
        </section>
        <section class="details">
            <p>In the midst of life's ceaseless hustle, there lies a realm where the mundane meets the magical, and the ordinary becomes extraordinary. Dive deep into our universe and discover the unseen, the unheard, and the unfelt.</p>
            <p>Every corner of gulu-verse is crafted with love, passion, and a touch of magic. From the whispers of the cosmos to the tales of ancient civilizations, we bring stories to life, making every moment a dance of serendipity.</p>
            <p>Join us on this enchanting journey and let gulu-verse be the muse to your daily symphony, the magic dust that transforms your everyday into an odyssey of wonder.</p>
        </section>
        <img src="../static/img/01.png" alt="Gulu-verse Image">
    </main>
    <a href="{% url 'index0' %}" class="return-home-button">
        <i class="fa-solid fa-infinity fa-spin fa-spin-reverse fa-2xl"></i>
    </a>    
    <footer>
        <p>© 2023 Gulu-verse. All rights reserved.</p>
        <p>Designed with ❤️ by GuLu Team</p>
    </footer>
    <div class="rain"></div>
</body>
</html>
