<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2 - Internet Explorer Exploded = Semantic Sentiments and Aspirations (In Class Assignment)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&family=Satisfy&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Luckiest+Guy&family=Permanent+Marker&family=Satisfy&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Foldit:wght@100;400;600&family=Notable&family=Noto+Sans+Linear+B&display=swap');
    </style>
    <link rel="stylesheet" href="../static/css/about.css">
    <script src="../static/js/rain.js" defer></script>
</head>

<body>
    <header>

    </header>
    <main class="glass-window">
        <div class="row1">
            <h1>
                GuLu-Verse
            </h1>
            <img src="img/004.png" alt="blur of pink ellipse" min-width="800px">
        </div>
   
        <div class="row2">
            <h2>
                Technology as an Extension of Human Senses:
            </h2>
        </div>
        <div class="row3">
            <h3>
                Historically, we relied on our five senses to perceive and understand the world around us. 
            </h3>
            <br>
            <h3>
                About gulu-verse

                In the midst of life's ceaseless hustle, there lies a realm where dreams flutter and souls whisper – welcome to gulu-verse. A sanctuary where the mundane meets the magical, and the ordinary becomes extraordinary.
                
                Have you ever found yourself lost in the myriad of choices, wondering what to eat, where to wander, or which film to immerse in? Gulu-verse is your guiding star, illuminating the path less traveled, offering visions of a future tailored just for you.
                
                Our questions are not mere queries; they are keys to unlock the doors of possibilities. And our "future visions"? They are crafted tapestries of experiences, waiting for you to unravel and embrace.
                
                Step into our universe, where every moment is a dance of serendipity and every suggestion, a brushstroke on the canvas of your life's masterpiece. Here, the whispers of the cosmos converge, guiding you through the labyrinth of life with gentle nudges and poetic musings.
                
                Beyond the digital facade of gulu-verse lies a heart that beats in rhythm with your desires and dreams. We believe in the power of serendipitous encounters, the magic of unexpected joys, and the beauty of life's unplanned moments. With each interaction, we aspire to add a touch of enchantment to your day, turning the mundane into memories that linger.
                
                Join us, and let gulu-verse be the muse to your daily symphony, the magic dust that transforms your everyday into an odyssey of wonder.
            </h3>
        </div>
        <br>
        <br>
        <img src="img/009.jpg">
        <div class="rain"></div>
    </main>
    <footer>
        <br>
        Web-Based Multimedia Communications <em>Semantic Sentiments and Aspirations</em> Fall 2023 in-class assignment
        <br>
        <br>
    </footer>
</body>
</html>
