<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../static/css/todo.css">
    <script src="https://kit.fontawesome.com/e7742c88b3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="satic-area">
        <div class="dynamic-area1"></div>
        <div class="dynamic-area2"></div>
    </div>
    <section class="container">
        <div class="heading">
            <img class="heading__img" src="../static/img/ball0.png">
            <h1 class="heading__title">99-Things ToDo</h1>
        </div>
        <div class="form">
            <label class="form__label">~ This year I need to ~</label>
            <div class="form__group">
                <input type="text" class="form__input" id="new-task" placeholder="Add new task...">
                <button class="form__submit-button">Submit</button>
            </div>            
            <div id="tasks">

            </div>
        </div>
    </section>
    <a href="{% url 'index0' %}" class="return-home-button">
        <i class="fa-solid fa-infinity fa-spin fa-spin-reverse fa-2xl"></i>
    </a>
    <script src="../static/js/todo.js"></script>
</body>
</html>
